@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.earlyAccess {
  padding: 80px 0;
  background: url("@/assets/icons/earlyAccessBg.svg") center center / 120% auto no-repeat, $color-bg-lilac-primary;

  &__cards {
    gap: 10px;
    display: flex;
  }

  &__text {
    max-width: 92%;
    line-height: 28px;
    line-height: 28px;
    margin: 32px 0 40px;
    color: $color-white;
    font-size: $font-size-md;
    font-family: $font-gotham-thin;
    font-weight: $font-weight-regular;
  }
}

@media (max-width: $bp-lg) {
  .earlyAccess {
    padding: 40px 0 60px;

    &__cards {
      flex-direction: column;
    }
  }
}