@use "@/styles/variables" as *;

.early_access {
  padding: 80px 0;
  background: url("@/assets/icons/earlyAccessBg.svg") center / contain no-repeat,
    $color-bg-lilac-primary;

  &__cards {
    gap: 10px;
    display: flex;
  }

  &__text {
    max-width: 92%;
    line-height: 28px;
    margin: 32px 0 40px;
    color: $color-white;
    font-size: $font-size-md;
    font-family: $font-gotham;
    font-weight: $font-weight-regular;
  }
}
