@use "@/styles/variables" as *;

h1 {
  line-height: 54px;
  letter-spacing: 0px;
  font-size: $font-size-3xl;
}

h2 {
  line-height: 44px;
  letter-spacing: 0px;
  font-size: $font-size-2xl;
}

h1,
h2 {
  color: $color-white;
  font-weight: $font-weight-bold;
  font-family: $font-gotham-bold;

  span {
    color: $color-lilac-light;
  }
}
