@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.form {
  gap: 12px;
  display: flex;
  overflow: hidden;
  max-width: 480px;
  min-height: 64px;
  margin-top: 20px;
  align-items: center;
  border-radius: 999px;
  background: $color-white;
  border: 3px solid $color-lilac-light;
  transition: box-shadow 0.3s ease-in-out;

  &:focus-within {
    box-shadow: 0 0 0 2px $color-box-shadow;
  }

  &__input {
    flex: 1;
    border: none;
    width: 280px;
    outline: none;
    font-weight: 500;
    padding: 18px 26px;
    border-radius: 6px;
    font-size: $font-size-sm;
    font-family: $font-gotham;
    background: $color-transparent;

    &::placeholder {
      color: $color-lilac-dark;
    }

    /* Chrome / Safari autofill */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      box-shadow: 0 0 0 1000px $color-white inset;
      -webkit-box-shadow: 0 0 0 1000px $color-white inset;
      -webkit-text-fill-color: $color-lilac-dark;
      transition: background-color 9999s ease-in-out 0s;
    }
  }

  &__button {
    gap: 4px;
    border: none;
    cursor: pointer;
    padding: 17px 35px;
    display: inline-flex;
    border-radius: 999px;
    align-items: center;
    white-space: nowrap;
    color: $color-white;
    background: $color-bg-azalea;
    font-family: $font-gotham-bold;
    font-weight: $font-weight-medium;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-top: 2px solid $color-white;
      border-right: 2px solid $color-white;
      transform: rotate(45deg);
    }
  }
}

@media (max-width: $bp-sm) {
  .form {
    width: 100%;

    &__input {
      width: 100%;
      padding: 18px 0 18px 26px;
    }
  }
}