@use "@/styles/variables" as *;

.badge {
  height: 32px;
  display: flex;
  min-width: 146px;
  line-height: 28px;
  padding: 2px 18px;
  text-align: center;
  color: $color-black;
  border-radius: 126px;
  align-items: center;
  justify-content: center;
  font-size: $font-size-sm;
  font-family: $font-gotham;
  background: $color-lilac-light;

  &--coming-soon {
    color: $color-lilac-medium;
    background: $color-lilac-light;
  }

  &--released {
    color: $color-violet;
    font-weight: $font-weight-medium;
    background: $color-lilac-light;
  }

  &--coming-soon-v2 {
    color: $color-lilac-light;
    background: $color-violet;
  }
}
