@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.card {
  gap: 30px;
  display: flex;
  min-width: 32%;
  cursor: pointer;
  max-height: 88px;
  padding: 23px 30px;
  align-items: center;
  border-radius: 122px;
  font-family: $font-gotham;
  background: $color-bg-violet;
  border: 3px solid $color-bg-violet;
  transition: border 0.3s ease-in-out;

  &:hover {
    border: 3px solid $color-lilac-dark;
  }

  &__description {
    display: block;
  }

  &__img {
    width: 112px;
    height: auto;
  }

  &__pretext {
    margin: 0;
    color: $color-lilac-light;
  }
}

@media (max-width: $bp-lg) {
  .card {
    justify-content: space-between;
  }
}