@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.whychoose {
  font-family: $font-gotham-thin;
  background: $color-bg-lilac-medium;

  &__container {
    gap: 52px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $color-white;
    align-items: center;
    justify-content: flex-start;
  }

  &__heading,
  &__description {
    margin-bottom: 22px;
  }

  &__description {
    line-height: 28px;
  }

  &__description:last-child {
    margin-bottom: 0;
  }

  &__image {
    width: 270px;
    display: flex;
    justify-content: center;

    img {
      width: auto;
      height: auto;
      display: block;
    }
  }
}

@media (max-width: $bp-md) {
  .whychoose {
    &__container {
      gap: 5px;
      padding-top: 0;
      padding-bottom: 40px;
      flex-direction: column;
    }

    &__image {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}