@use "@/styles/variables" as *;

.whychoose {
  gap: 52px;
  display: flex;
  color: $color-white;
  align-items: center;
  justify-content: flex-start;
  background: $color-bg-lilac-medium;

  &__image {
    min-width: 270px;
    min-height: 179px;
  }

  &__text {
    color: $color-lilac-light;
  }
}
