@use "@/styles/variables" as *;

.whychoose {
  background: $color-bg-lilac-medium;

  &__container {
    gap: 52px;
    display: flex;
    padding: 112px 0;
    color: $color-white;
    align-items: center;
    justify-content: flex-start;
  }

  &__image {
    width: 270px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
