@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.footer {
  display: flex;
  padding: 55px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $color-bg-dark;

  &__center {
    display: flex;
    justify-content: center;
  }

  &__heading {
    color: $color-white;
    margin-bottom: 10px;
  }

  &__text {
    color: $color-lilac-light;
  }
}

@media (max-width: $bp-lg) {
  .footer {
    padding: 40px 0;
  }
}