@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.hero {
  z-index: 0;
  position: relative;
  background: $color-bg-lilac-primary;

  &__container {
    display: flex;
    color: $color-white;
    flex-direction: column;
  }

  &__logo {
    width: 232px;
    margin-bottom: 40px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__description {
    padding: 90px 0 34px;
  }

  &__subtitle {
    line-height: 26px;
    color: $color-white;
    margin-bottom: 10px;
    font-size: $font-size-lg;
    font-family: $font-gotham-bold;
    font-weight: $font-weight-medium;
  }

  &__text {
    font-weight: $font-weight-regular;
    color: $color-lilac-medium;
    font-family: $font-gotham-thin;
    font-size: $font-size-sm;
    line-height: 28px;
    margin: 2px 0 0;
  }

  &__pretext {
    margin: 0;
    font-weight: 500;
    line-height: 28px;
    color: $color-white;
    line-height: inherit;
    font-size: $font-size-md;
    font-family: $font-gotham-thin;
  }

  &__bold {
    font-family: $font-gotham-medium;
  }

  &__upcoming {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
  }

  &__feedback {
    padding: 50px 0 56px;
    background: $color-bg-lilac-linear-gradient;
  }

  @media (max-width: $bp-lg) {

    &__description,
    &__feedback {
      padding: 40px 0;
    }
  }

  @media (max-width: $bp-sm) {
    &__container {
      text-align: center;
    }

    &__logo {
      margin: 0 auto 24px;
    }

    &__subtitle {
      font-size: $font-size-sm;
    }

    &__upcoming {
      justify-content: center;
    }
  }
}