@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.ironPdf {
  font-family: $font-gotham;

  &__advantages {
    color: $color-white;
    text-align: center;
    padding: 94px 0 50px;
    background:
      url("@/assets/icons/ironPdfBlur2.svg") center top / cover no-repeat,
      $color-bg-lilac-primary;
  }

  &__badgeWrapper {
    position: relative;
    display: inline-block;
  }

  &__infoText {
    margin: 0;

    &:first-child {
      margin-bottom: 22px;
    }
  }

  &__badge {
    pointer-events: none;
    position: absolute;
    width: auto;
    height: auto;
    right: -82px;
    top: -51px;
  }

  &__list {
    gap: 48px;
    padding: 0;
    display: flex;
    margin: 42px 0 0;
    list-style-type: none;
    justify-content: space-between;
  }

  &__item {
    padding-right: 54px;
    background: url("@/assets/icons/ironDivider.svg") right no-repeat;

    &:last-child {
      padding-right: 0;
      background: none;
    }
  }

  &__text {
    line-height: 28px;
    padding: 55px 0 57px;
    color: $color-white;
    font-size: $font-size-md;
    background: $color-bg-lilac-primary;
    font-weight: $font-weight-regular;
  }

  &__pretext {
    font-weight: 700;
    line-height: 28px;
    font-size: $font-size-md;
  }
}

@media (max-width: $bp-lg) {
  .ironPdf {
    &__advantages {
      padding: 40px 0;
    }

    &__list {
      flex-direction: column;
      margin-top: 30px;
      text-align: left;
      gap: 24px;
    }

    &__item {
      padding-right: 0;
      background: none;
    }

    &__badge {
      width: 80px;
      top: -23px;
      right: -51px;
    }

    &__text {
      padding: 40px 0;
    }
  }
}