@use "@/styles/variables" as *;

.header {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $color-bg-lilac-primary;
  font-family: $font-gotham-bold;

  &__logo {
    min-width: 115px;
    min-height: 14px;
  }

  &__link {
    margin-left: 24px;
    text-decoration: none;
    color: white;
  }
}
