@use "@/styles/variables" as *;
@use "@/styles/globals" as *;

.header {
  z-index: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding: 14px 14px 0;
  justify-content: flex-start;
  background: $color-bg-lilac-primary;
  font-family: $font-gotham-bold;
  font-weight: $font-weight-medium;
  font-size: $font-size-xs;

  &__nav {
    display: flex;
    margin-left: 25px;
    align-items: center;
    text-transform: uppercase;
  }

  &__logo {
    min-width: 115px;
    min-height: 14px;
  }

  &__link {
    margin-left: 24px;
    color: $color-white;
    text-decoration: none;
    font-weight: $font-weight-medium;
  }
}